@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px - 1)
	.main-menu 
		ul 
			li
				padding: 0 20px				
	.phone .phone-text1
		display: none
	.phone .phone-text2
		display: inline
	.search
		margin-left: -10px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px - 1)
	.main-menu
		display: none
		min-width: 295px		
		float: right
		text-align: right
		background-color: tint($main-color-green, 80%)
		position: absolute		
		top: 70px
		right: 15px
		ul
			li
				display: block
				height: 48px
				line-height: 0
				padding: 0
			a
				display: block
				line-height: 48px				
				padding: 0 20px
				background-color: transparent
				transition: all .3s ease
				font-size: em(18px)
				&:hover
					background-color: tint($main-color-green, 20%)
	.phone
		margin-left: 0
		margin-right: 0
		&::after, &::before
			right: 15px
	.basket
		margin-left: -10px
		i.ic-basket			
			height: 45px
			background-position: -45px 0
		.count
			min-width: 25px
			min-height: 25px
			line-height: 20px
			left: 25px
			font-size: em(13px)
			border: 2px solid #fff			


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.main-menu
		display: block !important


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

