@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px - 1)
	.main-menu 
		ul 
			li
				padding: 0 20px				
	.phone .phone-text1
		display: none
	.phone .phone-text2
		display: inline
	.search
		margin-left: -10px
	#search-form 
		.wrapper
			width: 970px
	.main-head #slider .slider-wrap 
		button
			margin-top: 20px
		.slide 
			h2
				font-size: em(50px)
				top: 350px
			p
				top: 390px
				font-size: em(17px)
				line-height: 22px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px - 1)
	.main-menu
		display: none
		min-width: 295px		
		float: right
		text-align: right		
		background-color: #fff
		box-shadow: 1px 1px 2px rgba(0,0,0,0.3)
		position: absolute		
		top: 70px
		right: 5px
		ul
			border-top: 3px solid #232D3B
			border-bottom: 3px solid #232D3B
			li
				display: block
				height: 48px
				line-height: 0
				padding: 0
				// background: #fff
				background: #1C242C
				transition: all .3s ease
				a
					display: block
					line-height: 48px				
					padding: 0 20px
					font-family: 'OpenSansLight', $helvetica
					// background-color: transparent
					// transition: all .5s ease
					font-size: em(18px)
					border-top: 1px solid rgba(0,0,0,.075)
					color: #fff
					&:hover
						text-decoration: none
						color: #F39F18
				&:hover
					// background: #004875
					background: #273646



	.search
		text-align: right
	#search-form 
		.wrapper
			width: 750px
	.phone
		margin-left: 0
		margin-right: 0
		&::after, &::before
			right: 15px
		.dropdown-phone
			margin-right: 14px
	.basket
		margin-left: -10px
		i.ic-basket			
			height: 45px
			background-position: -45px 0
			.count
				top: -5px
				right: -5px
	.main-head #slider .slider-wrap 
		button
			margin-top: 25px
			svg
				width: 40px
				height: 60px
		.slide 
			h2				
				top: 280px
			p
				top: 315px
				font-size: em(16px)
	.slick-prev
		left: 10px
	.slick-next
		right: 7px

	.main-head
		.reklama
			font-size: em(18px)
			padding: 7px		
			i.ic-db_arrows
				width: 23px
				height: 23px
				background-position: -29px -123px			

/* Small Devices, Tablets */
@media only screen and (max-width : 768px - 1)
	
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12
		padding-left: 7px
		padding-right: 7px	

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	.phone 
		.phone-text2
			display: none
	.line-phone
		display: block
		
	.search		
		float: right
		margin-right: -175%
		i.ic-search
			width: 37px
			height: 37px
			background-position: -41px -81px
	.basket
		float: right
		margin-right: -40%
		
	.wrap-button
		width: 30px
		margin-right: 10%
	#search-form 
		.wrapper
			width: 90%
	.main-head #slider .slider-wrap 
		button
			margin-top: 25px			
		.slide 
			h2
				font-size: em(40px)
				top: 65%				
			p
				width: 75%
				top: 72%
				font-size: em(15px)
				padding: 3px 7px
				line-height: 20px
	.main-head
		.reklama
			font-size: em(15px)			
			i.ic-db_arrows
				width: 13px
				height: 13px
				background-position: -52px -123px
				margin-right: 5px
			span
				display: inline-block
				background: #fff
				color: #50bbdb
				padding: 0px 7px


/* Свой размер */
@media only screen and (max-width : 600px)
	.search
		margin-right: -125%
	.main-head
		.reklama			
			padding: 3px
			
	.main-head #slider .slider-wrap 
		button			
			svg
				width: 30px
				height: 40px
		.slide 
			h2
				font-size: em(30px)
				top: auto				
				bottom: 65px
			p
				width: 82%
				top: auto				
				bottom: 10px
				font-size: em(13px)
				line-height: 16px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px - 1)	
	.main-menu
		width: 100%
		right: 0
		border: 0
	.search
		display: none
	.line-phone
		width: 100%
		text-align: center
		margin-right: 0
		padding-left: 15px
		font-size: em(14px)
		p
			float: none
		.search
			display: inline-block			
	.basket
		margin-right: -15%	
		i.ic-basket			
			width: 36px
			height: 36px
			background-position: -84px 0
			.count				
				min-width: 25px
				min-height: 25px
				line-height: 18px				
				font-size: em(11px)				
				border: 3px solid #fff				
				top: -4px
				right: -8px
	.wrap-button
		width: 27px
	#search-form 
		.wrapper
			input
				font-size: 25px
	.toggle-menu
		// margin: 22px auto 10px
		& span:after, & span:before
			top: -7px
		& span:after
			top: 7px
		&.on span:before
			transform: rotate(45deg) translate(3px,5px)
		&.on span:after
			transform: rotate(-45deg) translate(5px,-7px)	

	.main-head #slider .slider-wrap 
		button			
			svg
				width: 20px
				height: 30px			
		.slide
			img
				margin-top: 90px 
			h2
				font-size: em(25px)
				bottom: 3%
			p
				display: none


/* Свой размер */
@media only screen and (max-width : 350px)
	.line-phone
		p
			margin: 6px 0 3px 2px
		.search
			margin-left: 2px
	#search-form 
		.wrapper
			input
				width: 100%
			button
				display: none


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px - 1)
	.logo	
		line-height: 55px
	.line-phone
		top: 54px
		left: 0
		p
			.more320
				display: none
			.less320
				display: inline
	.basket
		height: 55px
		line-height: 55px
		margin-right: 20%
		i.ic-basket			
			width: 26px
			height: 30px
			background-position: -120px 0
			.count				
				min-width: 22px
				min-height: 22px
				line-height: 15px				
				font-size: em(10px)				
				border: 3px solid #fff				
				top: -5px
				right: -8px
	.wrap-button
		width: 20px
		margin-right: 12px
	.toggle-menu
		margin: 18px auto 0
		span
			height: 1px
		& span:after, & span:before
			height: 1px
			top: -5px
		& span:after
			top: 5px
		&.on span:before
			transform: rotate(45deg) translate(3px,3px)
		&.on span:after
			transform: rotate(-45deg) translate(4px,-4px)
	.main-menu
		top: 60px
		ul 
			li 
				a
					padding-right: 30px


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.main-menu
		display: block !important


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

