@import "bourbon"
@import "vars.sass"

/*--- Mixins ---*/
.headers
	font-family: 'GothamProBold', $helvetica
	text-transform: uppercase
	font-weight: normal
	color: $headers-color	
	font-size: em(50px)

/*--- END Mixins ---*/

body
	font-size: 16px
	min-width: 320px
	height: 1300px
	position: relative
	line-height: 22px
	font-family: "OpenSansRegular", $helvetica
	font-weight: 400
	overflow-x: hidden
	color: $text-color
	background: #B8B8B8 url(../img/bg_main.jpg)	

/*--- default ---*/
*
	margin: 0
	padding: 0

.hidden
	display: none

a, a:hover, a:focus, a:active
	color: $main-color-blue
	text-decoration: underline
	outline: none

h1, h2, h3, h4, h5, h6
	@extend .headers

b, strong
	font-family: "OpenSansBold", $helvetica

.before
	content: ''
	width: 100%
	height: 100%
	position: absolute
	left: 0px
	top: 0px

.ulmenu
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block

.trans
	transition: all .5s ease

/* sprite */
[class*="ic-"]
	display: inline-block
	vertical-align: middle
	background: url(../img/sprite.png) no-repeat

/*--- END default ---*/

h1		
	line-height: em(42px)
	background-color: $headers-color
	color: transparent
	text-shadow: 0px 2px 2px rgba(255,255,255,0.3)
	-webkit-background-clip: text
	-moz-background-clip: text
	background-clip: text

.main-head	
	
	.top-block
		background: #fff
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,.1)
		position: fixed
		width: 100%	
	nav		
		h1
			text-transform: none	

.logo
	display: inline-block
	line-height: 64px	
	img
		width: 100%
		height: auto

.main-menu
	font-size: em(16px)
	ul		
		@extend .ulmenu
		li
			height: 64px
			line-height: 64px
			padding: 0 34px	
			a
				text-decoration: none
				color: $text-color				
				&:hover
					color: $main-color-green
					text-decoration: underline	
			&.active
				a
					color: $main-color-green
					text-decoration: underline

.search
	width: 100%
	height: 64px
	line-height: 64px
	margin: 0 auto	
	text-align: center
	i.ic-search
		width: 42px
		height: 39px
		background-position: 0 -82px

.phone
	height: 40px
	font-size: em(15px)
	margin-left: -15px
	margin-right: -5px 
	background: #efefef
	margin-top: 12px
	margin-bottom: 12px	
	border: 1px solid #e2e2e2	
	cursor: pointer;
	user-select: none
	i.ic-phone
		width: 30px
		height: 30px
		background-position: 0 -52px
		margin: 5px 8px 5px 10px
	&::after
		content: ''
		width: 5px
		height: 5px
		border: 5px solid transparent
		border-right: 5px solid #cf0f26
		border-bottom: 5px solid #cf0f26		
		display: none
		position: absolute
		bottom: 12px
		right: 10px		
	&::before		
		content: ''
		width: 7px
		height: 7px
		border: 7px solid transparent
		border-right: 7px solid #efefef
		border-bottom: 7px solid #efefef
		display: none
		position: absolute
		bottom: 12px
		right: 10px		
	&:hover
		border: 1px solid #ccc
	&:hover::after, &:hover::before
		display: block
	.phone-text1
		
	.phone-text2
		display: none
		padding-left: 10px
	.dropdown-phone
		display: none;
		font-size: em(18px)
		width: 250px
		padding: 20px 25px
		margin-right: 10px
		position: absolute
		top: 70px
		right: 0
		background-color: #fff
		border: 1px solid #e2e2e2
		p
			margin-bottom: 10px
			font-size: em(18px)
			i.ic-mts
				width: 17px
				height: 17px
				background-position: -85px 0
				margin: 0px 10px 0px 0px
			i.ic-velcom
				width: 17px
				height: 17px
				background-position: -103px 0
				margin: 0px 10px 0px 0px				
			i.ic-email
				width: 16px
				height: 11px
				background-position: -120px 0
				margin: 0px 10px 0px 0px

		.email
			border-top: 1px solid tint($main-color-green, 30%)
			padding-top: 5px
			font-size: em(15px)

.basket	
	height: 64px
	line-height: 64px	
	i.ic-basket
		width: 45px
		height: 50px
		background-position: 0 0
		position: relative
		.count
			min-width: 30px
			min-height: 30px
			line-height: 21px
			text-align: center
			font-size: em(12px)
			font-style: normal
			color: #fff
			background: green	
			border-radius: 50%
			border: 4px solid #fff
			position: absolute
			top: -3px
			right: -10px
			// box-shadow: 0px 0px 1px 1px rgba(0,0,0,.15)

.wrap-button
	width: 35px


/* Toggle Menu */
.toggle-menu
	display: block	
	height: 30px
	margin: 24px auto 10px 
	padding-top: 10px


.toggle-menu span:after,
.toggle-menu span:before
	content: ""
	position: absolute
	left: 0
	top: -9px

.toggle-menu span:after
	top: 9px

.toggle-menu span
	position: relative
	display: block	

.toggle-menu span,
.toggle-menu span:after,
.toggle-menu span:before
	width: 100%
	height: 2px
	background-color: #555
	transition: all 0.3s
	backface-visibility: hidden
	border-radius: 2px

/* on activation */
.toggle-menu.on span
	background-color: transparent

.toggle-menu.on span:before	
	transform: rotate(45deg) translate(5px, 5px)

.toggle-menu.on span:after
	transform: rotate(-45deg) translate(7px, -8px)

.toggle-menu.on + #menu
	opacity: 1
	visibility: visible	