@import "bourbon"
@import "vars.sass"
@import "libs.sass"

/*--- Mixins ---*/
.headers
	font-family: 'GothamProBold', $helvetica
	text-transform: uppercase
	font-weight: normal
	color: $headers-color	
	font-size: em(50px)

.before
	content: ''
	width: 100%
	height: 100%
	position: absolute
	left: 0px
	top: 0px

.ulmenu
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block

.trans
	transition: all .5s ease

/*--- END Mixins ---*/

body
	font-size: 16px
	min-width: 320px
	height: 1300px
	position: relative
	// line-height: 22px
	font-family: "OpenSansRegular", $helvetica
	font-weight: 400
	overflow-x: hidden
	color: $text-color
	background: #B8B8B8 url(../img/bg_main.jpg)	

/*--- default ---*/
*
	margin: 0
	padding: 0

.hidden
	display: none

a, a:hover, a:focus, a:active
	color: $main-color-blue
	text-decoration: underline
	outline: none

h1, h2, h3, h4, h5, h6
	@extend .headers

b, strong
	font-family: "OpenSansBold", $helvetica

.z1
	z-index: 1

.z2
	z-index: 2

.z3
	z-index: 3


/* sprite */
[class*="ic-"]
	display: inline-block
	vertical-align: middle
	background: url(../img/sprite.png) no-repeat

/*--- END default ---*/

h1		
	line-height: em(42px)
	background-color: $headers-color
	color: transparent
	text-shadow: 0px 2px 2px rgba(255,255,255,0.3)
	-webkit-background-clip: text
	-moz-background-clip: text
	background-clip: text

.main-head
	position: relative		
	.top-block
		background: #fff
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,.1)
		position: fixed
		width: 100%	
		min-width: 240px
		z-index: 2
	nav		
		h1
			text-transform: none
	#slider
		.slider-wrap
			position: relative
			// overflow: hidden
			.slide				
				position: relative
				outline: none				
				img
					width: 100%
					margin-top: 60px
				.description
					position: absolute
					bottom: 80px
					left: 50px
					color: #135175
					h2
						font-family: 'NewZelek', $helvetica
						font-size: em(60px)						
						text-shadow: 1px 1px 0px white
						color: #113277
						line-height: 47px
					p
						width: 50%
						margin-top: 20px
						font-size: em(18px)
						background: rgba(255,255,255,.7)
						padding: 5px 10px						
			// стилизация стрелок слайдера
			button
				-webkit-appearance: none
				background: transparent
				border: 0
				outline: 0
				svg
					padding: 5px
				&.arrow
					cursor: pointer
					position: absolute
					top: 50%
					
					width: 70px
					height: 90px			
				&.left
					left: 3%
					&:hover polyline
						stroke-width: 3
					&:focus polyline
						stroke-width: 3
					&:active polyline
						stroke-width: 6
						transition: all 100ms ease-in-out			
				&.right
					right: 3%
					&:hover polyline
						stroke-width: 3
					&:focus polyline
						stroke-width: 3
					&:active polyline
						stroke-width: 6
						transition: all 100ms ease-in-out
			polyline
				transition: all 250ms ease-in-out
			// END стилизации стрелок слайдера			
.slick-slider 
	.slick-list
		z-index: -1

.slick-prev
	left: 25px
	width: 60px
	height: 80px
	svg
		width: 100%
		height: auto
.slick-next
	right: 25px
	width: 60px
	height: 80px



.logo
	display: inline-block
	line-height: 64px	
	img
		width: 100%
		height: auto

.main-menu
	font-size: em(16px)
	ul		
		@extend .ulmenu
		li
			height: 64px
			line-height: 64px
			padding: 0 34px	
			a
				text-decoration: none
				color: $text-color
				padding-bottom: 4px

/*--- LavaLamp Menu ---*/
.main-menu 
	ul
		position: relative
		// list-style: none
		// text-align: center
		// margin: -1
		// padding: 15px 0 0 0
		li
		// padding: 0 20px
		// cursor: pointer
		// line-height: 40px
		// color: #727272

		li.lava-item
			height: 1px
			// background: #008000
			background: rgba(0,128,0, .5)
			// background: #cf0f26
			position: absolute
			top: 75%
			// padding: 0 34px
			transition: all 0.3s ease-out
/*--- END LavaLamp Menu ---*/


.search
	width: 100%
	height: 64px
	line-height: 64px
	margin: 0 auto	
	text-align: center
	cursor: pointer	
	i.ic-search
		width: 41px
		height: 41px
		background-position: 0 -82px
		opacity: .5
		transition: opacity .3s ease
		&:hover			
			opacity: 1

/*--- SEARCH Form ---*/

#search-form
	position: fixed
	width: 100%
	padding-bottom: 15px
	top: -200px
	left: 0
	right: 0
	opacity: 0
	white-space: nowrap
	z-index: 9999
	background-color: rgba(255,255,255,.9)
	display: block
	transition: all .3s ease
	.wrapper
		width: 1170px
		position: relative
		margin: 30px auto 0 auto
		padding: 0 20px
		input
			width: 90%
			padding: 0 0 2px 15px
			background: transparent
			border: none
			border-bottom: 1px solid #bfbfbf
			font-size: 30px
			font-weight: 100
			font-family: 'RobotoLight', sans-serif
			color: $text-color
			&:focus
				outline: none
		button
			border: none
			background: transparent			
			&:focus
				outline: none
			i.ic-search-submit
				width: 37px
				height: 37px
				background-position: -41px -81px
				position: absolute
				top: 3px
				opacity: .5
				transition: opacity .3s ease
				&:hover
					opacity: 1



/*--- END SEARCH Form ---*/

.phone
	height: 40px
	font-size: em(15px)
	margin-left: -15px
	margin-right: -5px 
	background: #efefef
	margin-top: 12px
	margin-bottom: 12px	
	border: 1px solid #e2e2e2	
	cursor: pointer;
	user-select: none
	i.ic-phone
		width: 30px
		height: 30px
		background-position: 0 -52px
		margin: 5px 8px 5px 10px
	&::after
		content: ''
		width: 5px
		height: 5px
		border: 5px solid transparent
		border-right: 5px solid #cf0f26
		border-bottom: 5px solid #cf0f26		
		display: none
		position: absolute
		bottom: 12px
		right: 10px		
	&::before		
		content: ''
		width: 7px
		height: 7px
		border: 7px solid transparent
		border-right: 7px solid #efefef
		border-bottom: 7px solid #efefef
		display: none
		position: absolute
		bottom: 12px
		right: 10px		
	&:hover
		border: 1px solid #ccc
	&:hover::after, &:hover::before
		display: block
	.phone-text1
		
	.phone-text2
		display: none
		padding-left: 10px
	.dropdown-phone		
		// easing
		// visibility: hidden
		// font-size: em(18px)
		// width: 250px
		// padding: 20px 25px
		// margin-right: 10px
		// position: absolute		
		// top: 80px
		// opacity: 0
		// right: 0
		// background-color: #fff
		// border: 1px solid #e2e2e2

		// animate.css
		display: none		
		font-size: em(18px)
		width: 217px
		padding: 8px 12px
		margin-right: 10px
		position: absolute		
		top: 70px		
		opacity: 0		
		right: 0
		background-color: #fff		
		animation-duration: 0.5s
		box-shadow: 1px 1px 2px rgba(0,0,0,0.3)
		p
			font-size: em(18px)
			&.mts
				margin-bottom: 2px
			i.ic-mts
				width: 17px
				height: 17px
				background-position: -147px 0
				margin: 0px 10px 0px 0px
				position: relative
				top: -2px
			i.ic-velcom
				width: 17px
				height: 17px
				background-position: -165px 0
				margin: 0px 10px 0px 0px				
				position: relative
				top: -2px
			i.ic-email
				width: 16px
				height: 11px
				background-position: -182px 0
				margin: 0px 10px 0px 0px

		.email
			border-top: 1px solid tint($main-color-green, 30%)
			padding-top: 5px
			font-size: em(15px)
.line-phone
	display: none	
	top: 62px
	z-index: 1
	right: 0
	min-width: 240px
	font-size: em(15px)
	position: fixed
	background-color: #fff	
	animation-duration: 0.5s
	margin-right: 15px
	p		
		margin: 6px 6px 3px 8px
		display: inline-block
		float: right
		.less320
			display: none
		i.ic-mts
			width: 15px
			height: 15px
			background-position: -147px -18px
			margin: 0px 5px 0px 0px
			position: relative
			top: -2px
		i.ic-velcom
			width: 15px
			height: 15px
			background-position: -165px -18px
			margin: 0px 5px 0px 0px
			position: relative
			top: -2px
	.search
		display: none
		float: none
		width: auto
		margin: 0
		height: auto
		line-height: 0
		i.ic-search
			width: 23px
			height: 21px
			background-position: -76px -82px
			margin-bottom: 2px
			opacity: .5
			transition: opacity .3s ease
			&:hover			
				opacity: 1

.basket
	height: 64px
	line-height: 64px
	cursor: pointer
	i.ic-basket
		width: 45px
		height: 50px
		background-position: 0 0
		position: relative
		.count
			min-width: 30px
			min-height: 30px
			line-height: 21px
			text-align: center
			font-size: em(12px)
			font-style: normal
			color: #fff
			background: green	
			border-radius: 50%
			border: 4px solid #fff
			position: absolute
			top: -3px
			right: -10px
			user-select: none			

.wrap-button
	width: 35px
	float: right


/* Toggle Menu */
.toggle-menu
	display: block	
	height: 30px
	margin: 22px auto 10px 
	padding-top: 10px


.toggle-menu span:after,
.toggle-menu span:before
	content: ""
	position: absolute
	left: 0
	top: -9px

.toggle-menu span:after
	top: 9px

.toggle-menu span
	position: relative
	display: block

.toggle-menu span,
.toggle-menu span:after,
.toggle-menu span:before
	width: 100%
	height: 2px
	background-color: #555
	transition: all 0.3s
	backface-visibility: hidden
	border-radius: 2px

/* on activation */
.toggle-menu.on span
	background-color: transparent

.toggle-menu.on span:before	
	transform: rotate(45deg) translate(5px, 5px)

.toggle-menu.on span:after
	transform: rotate(-45deg) translate(7px, -8px)

.toggle-menu.on + #menu
	opacity: 1
	visibility: visible