@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic');

@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

.before
	content: ''
	width: 100%
	height: 100%
	position: absolute
	left: 0px
	top: 0px
.ulmenu
	list-style-type: none
	margin: 0
	padding: 0
	li
		display: inline-block

/*--- Переопределение fadeInDown как на GeekBrains ---*/
@-webkit-keyframes fadeInDown
	0%
		opacity: 0
		-webkit-transform: translateY(-10px)
		transform: translateY(-10px)

	100%
		opacity: 1
		-webkit-transform: translateY(0)
		transform: translateY(0)


@keyframes fadeInDown
	0%
		opacity: 0
		-webkit-transform: translateY(-10px)
		-ms-transform: translateY(-10px)
		transform: translateY(-10px)

	100%
		opacity: 1
		-webkit-transform: translateY(0)
		-ms-transform: translateY(0)
		transform: translateY(0)
/*--- END Переопределение fadeInDown как на GeekBrains ---*/


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here


//ALWAYS END
// @import "media"

/*--- Tabs Каталог---*/
.tab-wrap
	border-radius: 2px
	max-width: 100%	
	position: relative
	list-style: none	
	margin: 40px 0
	// position: relative	

.menu_short
	display: none

.tab
	display: none

// .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1),
// .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2),
// .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3)
// 	opacity: 1
// 	// transition: 0.5s opacity ease-in, 0.8s transform ease
// 	transition: 0.2s opacity ease-in, 0.2s transform ease
// 	position: relative
// 	top: 0
// 	z-index: 1
// 	transform: translateY(0px)
// 	text-shadow: 0 0 0


.tab-arrow::after
	@extend .before
	width: 18px
	height: 8px
	background: url(../img/sprite.png) -200px -11px no-repeat	
	z-index: 2
	position: absolute		
	top: auto
	bottom: 0
	left: 50%
	margin-left: -9px	

.tab:checked + label
	background: url(../img/bg_menu_catalog.jpg) repeat-x	
	text-shadow: 0 1px 1px rgba(0,0,0,.5)
	cursor: default
	color: #fff
	position: relative
	i.ic-stendy
		background-position: 0 -224px
	i.ic-tables		
		background-position: -38px -224px
	i.ic-plexiglass
		background-position: -76px -224px	
	&:before
		@extend .before
		width: 18px
		height: 9px
		background: url(../img/sprite.png) -200px 0 no-repeat
		position: absolute		
		top: auto
		bottom: 0
		left: 50%
		margin-left: -9px
	.toggle-menu-arrow
		cursor: pointer
		// background: green
		position: absolute		
		top: 19px
		right: 10px
		width: 15px
		height: 14px		
		span
			width: 15px
			position: relative
			top: 50%			
			right: 0
			display: block
			// width: 100%
			height: 1px
			margin: -1px 0 0 0
			border: none
			
			background: #98CC80
			// background: red
			// color: white
			// font-size: 0
			transition: transform 0.35s			
			&:before, &:after
				width: 15px				
				// top: 0
				// left: 50%
				// right: -7px
				display: block				
				// width: 100%
				height: 1px
				background: #98CC80
				// background: red
				content: ""
				transition: transform 0.35s
				// transform-origin: 100% 0%
			&:before
	 			transform: translate(0%, -4px)
			&:after
				transform: translate(0%, 3px)
	// &:hover span
	// 	transform: rotate(90deg)
	// 	background: transparent
	// &:hover span:before
	// 	transform: translate(-0%, -3px) rotate(45deg) scaleX(0.7)
	// &:hover span:after
	// 	transform: translate(-0%, 3px) rotate(-45deg) scaleX(0.7)	
	.tma-click
		span
			transform: rotate(90deg)
			background: transparent
		span:before
			// transform: translate(-0%, -3px) rotate(45deg) scaleX(0.7)
			transform: translate(-0%, 2px) rotate(45deg)
		span:after
			// transform: translate(-0%, 3px) rotate(-45deg) scaleX(0.7)
			transform: translate(-0%, 1px) rotate(-45deg)

.tab:checked + label:hover	
	color: #fff
	i.ic-stendy
		background-position: 0 -224px
	i.ic-tables		
		background-position: -38px -224px
	i.ic-plexiglass
		background-position: -76px -224px

.tab + label	
	cursor: pointer
	display: inline-block	
	text-decoration: none
	text-transform: uppercase
	font-family: 'GothamProRegular', $helvetica
	letter-spacing: 1px
	color: #33647e
	text-align: center	
	user-select: none
	text-align: center
	transition: 0.3s background-color ease, 0.3s box-shadow ease
	height: 50px	
	padding: 15px 35px 15px 15px
	position: relative
	i.ic-stendy,
	i.ic-tables,
	i.ic-plexiglass
		width: 38px
		height: 37px
		background-position: 0 -151px
		margin-right: 10px
		float: left
		position: relative
		top: -8px		
	i.ic-tables
		background-position: -38px -151px
	i.ic-plexiglass
		background-position: -76px -151px
	

	ul.dropdown_stendy, ul.dropdown_tables, ul.dropdown_plexiglass
		@extend .ulmenu
		font-family: 'OpenSansLight', $helvetica
		text-transform: none
		text-shadow: 0 0 0		
		font-size: em(15px)
		text-align: left
		padding: 10px
		background: #ffdd55
		display: none
		position: absolute
		left: 0
		top: 50px
		z-index: 2
		box-shadow: 1px 1px 3px rgba(0,0,0,.3)
		width: 320px
		letter-spacing: 0.3px		
		li			
			width: 100%
			// padding: 5px 10px
			transition: all .1s ease
			position: relative
			cursor: pointer
			&:hover
				background: #ffe788				
			a
				display: block
				padding: 5px 10px
				text-decoration: none
				color: #4d4319	
				i.ic-arrow
					width: 7px
					height: 11px		
					background-position: -119px -250px
					position: absolute
					top: 16px
					right: 10px				
					margin-top: -5px
				i.ic-stendy_inform,
				i.ic-stendy_pokup,
				i.ic-stendy_window,
				i.ic-stendy_fire,
				i.ic-stendy_work,
				i.ic-stendy_school,
				i.ic-stendy_child,
				i.ic-stendy_symbol,
				i.ic-stendy_org,
				i.ic-stendy_system,
				i.ic-stendy_pocket,
				i.ic-tables_door,
				i.ic-tables_signboards,
				i.ic-tables_inform,
				i.ic-tables_adress,
				i.ic-tables_dog,
				i.ic-plexiglass_holder,
				i.ic-plexiglass_priceholder,
				i.ic-plexiglass_booklets,
				i.ic-plexiglass_cardholder,
				i.ic-plexiglass_podium
					width: 20px
					height: 20px				
					background-position: 0 -262px
					margin-right: 12px
					position: relative
					top: -2px
				i.ic-stendy_pokup
					background-position: -20px -262px
				i.ic-stendy_window
					background-position: -40px -262px
				i.ic-stendy_fire
					background-position: -60px -262px
				i.ic-stendy_work
					background-position: -80px -262px
				i.ic-stendy_school
					background-position: -100px -262px
				i.ic-stendy_child
					background-position: -120px -262px
				i.ic-stendy_symbol
					background-position: -140px -262px
				i.ic-stendy_org
					background-position: -160px -262px
				i.ic-stendy_system
					background-position: -180px -262px
				i.ic-stendy_pocket
					background-position: -200px -262px
				i.ic-tables_door
					background-position: 0 -282px
				i.ic-tables_signboards
					background-position: -20px -282px
				i.ic-tables_inform
					background-position: -40px -282px
				i.ic-tables_adress
					background-position: -60px -282px
				i.ic-tables_dog
					background-position: -80px -282px
				i.ic-plexiglass_holder
					background-position: 0 -302px
				i.ic-plexiglass_priceholder
					background-position: -20px -302px
				i.ic-plexiglass_booklets
					background-position: -40px -302px
				i.ic-plexiglass_cardholder
					background-position: -60px -302px
				i.ic-plexiglass_podium
					background-position: -80px -302px
			ul
				display: none
				position: absolute
				// background: #4d4319
				// background: #ffcf10
				// background: #ffeeaa
				// background: #fbdf72
				// background: #ffdd55
				background: #ffe373
				// left: 100%
				// top: 0				
				// width: 100%	
				// padding: 5px
				position: static
				width: auto				
				padding: 0
				// transition: display .5s ease				
				li					
					transition: all .2s ease
					// border-bottom: 1px solid #ffe788
					border-bottom: 1px solid #edcd4f
					// box-shadow: 0px 1px 1px rgba(255,255,0,.5) inset
					&:first-child
						border-top: 1px solid #edcd4f
					i.ic-submenu
						// float: left
						// display: block
						position: absolute
						top: 50%
						left: 7px
						width: 5px
						height: 5px		
						background-position: -127px -250px						
						margin-top: -3px
						// margin-right: 10px
					a
						// color: #fff
						margin-left: 10px
						color: #98811e						
					&:hover
						background: #716947	
						a
							color: #fff
			// &:hover 				
			// 	ul
			// 		display: block


	ul.dropdown_tables
		

	ul.dropdown_plexiglass
		

.tab + label:hover
	color: #319900	
	i.ic-stendy
		background-position: 0 -188px
	i.ic-tables		
		background-position: -38px -188px
	i.ic-plexiglass
		background-position: -76px -188px

.sub-menu
	& > a
		// width: 100%
		display: block
		// cursor: pointer
		// font-weight: 600
		// line-height: 3
		// font-size: 14px		
		// text-indent: 15px
		// user-select: none
		&:after
			width: 6px
			height: 6px
			border-right: 1px solid #4d4319
			border-bottom: 1px solid #4d4319
			position: absolute
			right: 10px
			content: " "
			top: 13px
			transform: rotate(-45deg)
			-webkit-transition: all 0.2s ease-in-out
			-moz-transition: all 0.2s ease-in-out
			transition: all 0.2s ease-in-out
		&.active:after
			transform: rotate(45deg)
			-webkit-transition: all 0.2s ease-in-out
			-moz-transition: all 0.2s ease-in-out
			transition: all 0.2s ease-in-out

.tab__content
	padding: 10px 0px
	background-color: #fff
	position: absolute
	width: 100%
	z-index: -1
	opacity: 0
	left: 0
	transform: translateY(-3px)
	border-radius: 2px
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
	// .dropdown_stendy
	// 	// width: 20%
	// 	height: 200px
	// 	background: #ffdd55
	// 	// display: none
	// 	position: absolute
		
	h1
		font-size: em(35px)
		line-height: em(25px)
		text-shadow: none
		color: #555
		font-family: 'OpenSansRegular', $helvetica
		text-transform: none
		margin: 0 0 5px 0
		padding-left: 25px
		span						
			background: #319900
			font-family: 'OpenSansRegular', $helvetica
			color: #fff
			font-size: 19px
			padding: 0 5px 0 0
			margin-left: 25px
			position: relative			
			top: -4px
			&:after
				content: ''
				position: absolute
				left: -26px
				top: 0
				width: 0
				height: 0
				border: 13px solid transparent
				border-right-color: #319900
	p
		line-height: 25px
		color: #333
		text-align: justify
		padding: 0 25px 20px
		font-family: 'OpenSansLight', $helvetica
	.container
		padding-left: 30px
		padding-right: 30px
		.row
			// margin-left: -25px
			// margin-right: -25px
			.product				
				background: #f3f3f3
				margin-bottom: 30px
				border: 1px solid tint($text-color, 100%)
				box-shadow: 0px 0px 1px rgba(0,0,0,.3)
				transition: all .1s ease
				text-align: center
				position: relative
				overflow: hidden
				.shadow
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%					
					// background: #339900
					background: white
					opacity: 0
					transition: 0.5s ease-in-out
					z-index: 2
				&:hover .shadow
					opacity: .8
				&:hover
					border: 1px solid tint($main-color-green, 10%)
				// &:hover .product_desc .price
				// 	padding-top: 5px
				// 	padding-bottom: 10px
				&:hover .views
					left: 20px
				&:hover .orders
					right: 20px
				
				.views, .orders
					position: absolute
					top: 20px
					font-size: em(14px)
					z-index: 100
					color: #999
					transition: 0.2s ease-in-out
					background: white
					padding: 5px 10px
					height: 30px					
				.views					
					// left: 20px				
					left: -100px				
					i.ic-views
						width: 18px
						height: 13px
						background-position: -219px 0
						margin-right: 7px
						position: relative
						top: -2px
						
				.orders
					// right: 20px					
					right: -100px					
					i.ic-orders
						width: 24px
						height: 24px
						background-position: -219px -14px
						margin-left: 7px
						position: relative
						top: -2px

				.actions
					width: 200px
					bottom: 145px
					// right: 15px
					left: 50%
					margin-left: -100px
					position: absolute
					z-index: 3					
					a
						// background: #202020
						// background: #138808
						// #319900
						// background: shade($main-color-green, 20%)
						// background: tint($main-color-green, 10%)
						background: #309900
						opacity: .8
						// border: 3px double white
						border: 1px solid transparent
						color: white
						display: block						
						transition: .2s ease-in-out
						text-decoration: none
						padding: 7px 10px
						font-family: 'OpenSansLight', $helvetica
						// font-family: 'Open Sans'
						// font-weight: 300
						&:hover
							// background: #194368
							// border-color: #194368
							background: #257700
							// border-color: #333333
							// color: shade($main-color-green, 20%)
					.add-to-cart, .order
						opacity: 0
						visibility: hidden
						transform: translate(0,-30px)
						margin: 9px 0 0						
					.add-to-cart
						transition: .6s ease-in-out
					.order
						transition: .2s ease-in-out
						position: relative
						overflow: hidden						
						&:after, &:before
							content: ''
							width: 24px
							height: 24px
							background: url(../img/sprite.png) no-repeat
							background-position: -92px -42px							
							position: absolute
							top: 6px
							left: 33px
							transition: .3s ease-in-out
						&:before							
							background-position: -116px -42px
							top: -50px
							z-index: 1							
						a
							background-color: rgba(255,255,255,.5)							
							border-color: #309900
							color: #309900
							&:hover								
								// border-color: #257700
								// border-color: #ff7200
								border-color: #c31100
								color: #c31100
								// background: rgba(195,17,0,.1)
						&:hover:after
							top: 50px
						&:hover:before
							top: 6px


				&:hover .add-to-cart,
				&:hover .order
					opacity: 1
					visibility: visible
					transform: translate(0,0)
				.img_wrap
					width: 85%
					height: 175px
					margin: 25px auto 120px auto
					img 
						max-width: 100%
						max-height: 175px
						border: 1px solid tint($text-color, 90%)
				h3
					font-family: 'OpenSansRegular', $helvetica
					font-size: em(16px)
					text-transform: none
					color: #33647e
					// color: #407E9F
					transition: all .3s ease
					margin-top: 15px
					cursor: pointer
					&:hover
						color: #407E9F
				.product_desc					
					// margin-top: 30px
					background: white
					border-top: 1px solid #e0e0e0
					color: #fff
					position: absolute
					left: 0
					bottom: 0
					width: 100%	
					// transition: .3s ease-in-out				
					padding: 3px 0 0 0
					font-family: 'OpenSansLight', $helvetica					
					z-index: 100
					.v_code				
						font-size: em(12px)					
						font-family: 'RobotoLight', $helvetica						
						position: absolute					
						top: -9px
						left: 0
						padding: 1px 7px
						line-height: 15px
						background: #d6d6d6
						// color: $main-color-green
						// border: 1px solid tint($main-color-green, 10%)
						border-left-width: 0
						border-right-width: 0						
						// border-bottom: 1px solid #e0e0e0						
						
					.price_title
						color: #33647e
						padding: 10px 0 0 0
						text-align: center
						letter-spacing: .5px						
						transition: .3s ease-in-out
						background: rgba(255,255,255,.1)
						line-height: normal
						font-size: em(18px)
						font-family: 'OpenSansRegular', $helvetica
						span
							display: block
							color: #999							
							font-size: em(12px)
							letter-spacing: normal
							font-family: 'OpenSansLight', $helvetica
					.price
						color: tint(#ff0000,40%)						
						// transition: all .3s ease
						padding-bottom: 3px
						font-family: 'RobotoLight', $helvetica
						span
							color: #ff0000
							font-size: em(28px)							
							padding: 0
						&.sale
							background: tint(#00BA2F, 15%) !important
							span
								background: #00BA2F
						.old
							display: inline
							// top: -47px
							text-decoration: line-through
							font-size: em(16px)
							margin-right: 10px
							color: tint($main-color-green, 0%)
							font-family: 'RobotoLight', $helvetica
							span
								font-size: inherit
								color: inherit

					h3
						color: #fff						
						font-size: em(16px)
						text-align: left
						margin: 0
					

					// &:hover .price_title
						
					// 	span
					// 		// display: block
					// &:hover .price
					// 	// top: -36px
					// &:hover .price.old
					// 	// top: -63px
					// button
					// 	font-size: em(18px)
					// 	border: none
					// 	outline: 0
					// 	width: 100%
					// 	margin-top: 3px
					// 	padding: 6px 0 5px 0
					// 	background: #ff7200
					// 	opacity: 0
					// 	transition: all .7s	ease
					// 	position: relative
					// 	&:after
					// 		content: ''
					// 		position: absolute
					// 		left: 50%
					// 		top: 0
					// 		width: 0
					// 		height: 0
					// 		border: 6px solid transparent
					// 		border-top-color: #1c242c

					// 	i.ic-cart
					// 		width: 28px
					// 		height: 34px
					// 		background-position: -87px -37px
					// 		margin-right: 10px
					// 		position: relative
					// 		top: -6px
					// 	&:hover
					// 		background: tint(#ff7200, 30%)


.tab_view
	opacity: 1	
	transition: 0.2s opacity ease-in, 0.2s transform ease
	position: relative
	top: 0
	z-index: 1
	transform: translateY(0px)
	text-shadow: 0 0 0

/*--- END Tabs Каталог---*/

.content_center
	// height: 700px
	padding: 0 25px 0 25px
	display: flex;
	justify-content: space-between
	// align-items: baseline
	// flex-direction: row-reverse
	flex-wrap: wrap

.product_card
	width: 200px
	height: 300px
	border: 1px solid $main-color-green
	background: tint($main-color-green, 50%)
	color: #fff
	margin-bottom: 30px
	// margin-right: 30px
	text-align: center
	// vertical-align: middle
	padding-top: 50px
	font-size: em(50px)

// .product_card:last-child
// 	margin-right: 0

.test777
	font-family: 'Open Sans'
	font-weight: 300


@import "media"